<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Items</title>
  </head>
  <body>
    <h1>Add Item</h1>
    <form class="" action="/items/add" method="post">
      Name : <input type="text" name="name" ><br>
      quantity : <input type="text" name="quantity"><br>
      <select name="CategoryId">
        <% for (let i = 0; i < category.length; i++) { %>
        <option value="<%= category[i].id %>"><%= category[i].name %></option>
        <% } %>
      </select>
      <input type="submit" value="go" >
    </form>
  </body>
</html>
